.bgDom {
    background-color: rgb(255, 201, 139);
}

#add {
    color: #2b6777;
    width: auto;
    margin-top: 10px;
    margin-right: 5px;
    padding: 10px;
}

#delete {
    color: #2b6777;
    width: auto;
    margin-top: 10px;
    padding: 10px;
}