/* general */
.my-0 {
    margin-top: 0;
    margin-bottom: 0;
}

.text-size {
    font-size: 1.3rem;
    font-style: italic;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    padding-bottom: 3%;
}

section {
    box-sizing: border-box;
    padding: 1%;
}

/* Button */


/* Header */
header {
    background-color: #ffffff;
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
    /* padding: 3%; */
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.headerSection {
    margin-bottom: 1rem;
}

/* Nav */
ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    /* float: left; */
    display: flex;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: auto;
  }
  
  li a:hover {
    background-color: #111;
    margin: auto;
  }

  li .active {
      background-color: #52ab98ed;
  }

/* Main */
main {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 90%;
    padding: 2%;
    /* background-color: #c8d8e4; */
    box-sizing: border-box;
}

.box-shadow {
    box-shadow: black 0px 0px 20px 0px;
}


#p1 {
    /* background-color: rgb(255, 201, 139); */
}

.paragraf {
    margin-bottom: 10px;
    padding: 3%;
}



.button {
    display: flex;
}