#p1 {
    background-color: rgb(255, 201, 139);
}

.paragraf {
    margin-bottom: 10px;
}

#add {
    background-color: rgb(227, 9, 247);
    color: rgb(255, 255, 255);
    width: auto;
    margin-top: 10px;
    margin-right: 5px;
    padding: 10px;
}

#delete {
    background-color: rgb(247, 9, 9);
    color: rgb(255, 255, 255);
    width: auto;
    margin-top: 10px;
    padding: 10px;
}

.button {
    display: flex;
}